* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2-nopadding {
    padding-top: 5px;
}

header {
    height: 65vh;
    background-image: url(../images/HeaderbackgroundTest.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}

.nav-container {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    border-right: 1px solid gray;
    padding: 20px 20px 20px 20px;
    width: 150px;
    text-align: center;
}

.links a:hover {
    text-decoration: underline;
}

.links .no-border {
    border: none;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

header p {
    color: white;
    text-align: center;
    padding: 50px;
}

p span a {
    color: rgb(151, 192, 206);
    text-decoration: none;
    font-style: italic;
}

p span a:hover {
    text-decoration: underline;
}

/* End of header */

main {
    /* display: flex;
    flex-direction: column; */
    padding: 0px 150px 100px 150px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

main h2 {
    font-size: 2rem;
    text-align: center;
}

main h3 {
    padding: 5px 0px 0px 10px;
    margin: 0px;
}

main p {
    padding: 0px 10px;
}

main article {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.title-decoration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 50px 50px 50px;
    gap: 20px;
}

.left-title img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 10px;
    background-color: #f4d58dff;
    border-radius: 10px;
}

.article1 {
    background-color: rgb(232, 231, 231);
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.article-left1 {
    width: auto;
    max-height: 200px;
}

.article-right1 {
    flex: 2;
    max-height: 200px;
}

.article-left2 {
    max-height: 200px;
    background-color: white;
}

.article-right2 {
    max-height: 200px;
}

.featurebuttons a {
    color: black;
    text-decoration: none;
    background-color: #708d81ff;
    padding: 10px;
    border-radius: 1vh;
    width: 300px;
    text-align: center;
    font-weight: bold;
    border: solid 2px lightgray;
}

.featurebuttons a:hover {
    background-color: #94aaa1;
}

.featurebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;
}

/* End of main */

footer {
    border-top: 1px solid gray;
    padding-top: 25px;
    background-color: #001427ff;
}

footer a {
    text-decoration: none;
    color: gray;
    border-right: 1px solid gray;
    padding: 20px 20px 20px 20px;
    width: 150px;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.no-border {
    border: none;
}

footer p {
    color: gray;
    line-height: 2rem;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

/* End footer */

@media (width <=480px) {
    header {
        background-image: url(../images/Headerbackground\ responsive.jpg);
        height: fit-content;
    }

    header .header-text p {
        padding-top: 20px;
    }

    header h1 {
        font-size: 1.75rem;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .links {
        flex-direction: column;
    }

    .links a {
        border-right: none;
        border-bottom: gray 1px solid;
    }

    .links a .no-border {
        border: none;
    }

    .title-decoration {
        flex-direction: column;
        width: 90vw;
    }

    .featurebuttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    main {
        padding: 0px 30px 30px 30px;
    }

    .title-decoration {
        width: 100%;
        padding: 50px 0px 50px 0px;
    }

    main article {
        flex-direction: column;
    }

    main article div {
        height: fit-content;
    }

    .article1 {
        flex-direction: column-reverse;
    }

    .article-left1 {
        width: auto;
        max-height: none;
        padding: 20px 0px;
        text-align: center;
    }

    .article-left1 img {
        width: 90%;
        height: 300px;
    }

    .article-right2 img {
        width: 100%;
        height: 300px;
    }

    .article-right1 {
        flex: 2;
        max-height: none;
    }

    .article-left2 {
        max-height: none;
        padding-top: 30px;
    }

    .article-right2 {
        max-height: none;
        padding: 20px 0px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        border: none;
        border-bottom: solid gray 2px;
    }
}