* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80vh;
    background-image: url(../images/HeaderbackgroundTest.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}

.nav-container {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.links a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

header p {
    color: white;
    text-align: center;
    padding: 50px;
}

/* End of header */

h2 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    padding-top: 40px;
}

p {
    color: black;
    text-align: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.container-1 p {
    padding-bottom: 75px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.feature-content {
    display: flex;
    flex-direction: row;
    width: 25vw;
    gap: 15px;
}


.feature-content-right p {
    padding: 10px 0px 0px 0px;
    text-align: left;
}

.feature-content-left img {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
}

.container-1 article {
    padding-bottom: 40px;
}

/* End container 1 */

.container-2 {
    border-top: 1px solid gray;
    padding-bottom: 40px;
}

.container-2 p {
    padding-bottom: 50px;
}


.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.photo-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid black 2px;
    border-radius: 1vw;
    width: 25vw;
    overflow: auto;
}

.photo-content p {
    padding-bottom: 5px;
}

.photo-content img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* End Container 2 */

.container-3 {
    border-top: 1px solid gray;
}

.container-3 h2 {
    padding-bottom: 5px;
}

.review-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-bottom: 40px;
}

.review-content {
    width: 25vw;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

/* End Container 3 */

.container-4 {
    display: flex;
    border-top: 1px solid gray;
}

.linked-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.contact-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact a {
    text-decoration: none;
    color: red;
    padding: 8px;
    background-color: gray;
    border-radius: 1vw;
}

.handleiding {
    flex: 1;
}

/* End Container 4 */

footer {
    border-top: 1px solid gray;
}