* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#yellow {
    background-color: #f4d58dff;
}

#yellow-border {
    border: 4px solid #f4d58dff;
}

body {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.h2-nopadding {
    padding-top: 5px;
}

header {
    height: 65vh;
    background-image: url(../images/HeaderbackgroundTest.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}

.nav-container {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    border-right: 1px solid gray;
    padding: 20px 20px 20px 20px;
    width: 150px;
    text-align: center;
}

.links a:hover {
    text-decoration: underline;
    transition: 500ms;
}

.links .no-border {
    border: none;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

header p {
    color: white;
    text-align: center;
    padding: 50px;
}

/* End of header */

h2 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    padding-top: 40px;
}

p {
    color: black;
    text-align: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.container-1 p {
    padding-bottom: 75px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.feature-content {
    display: flex;
    flex-direction: row;
    width: 25vw;
    gap: 15px;
}


.feature-content-right p {
    padding: 10px 0px 0px 0px;
    text-align: left;
}

.feature-content-left img {
    background-color: #708d81ff;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
}

.container-1 article {
    padding-bottom: 40px;
}

/* End container 1 */

.container-2 {
    border-top: 1px solid gray;
    padding-bottom: 40px;
}

.container-2 p {
    padding-bottom: 50px;
}


.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.photo-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 4px solid #708d81ff;
    border-radius: 1vw;
    width: 25vw;
    overflow: auto;
    background-color: #708d81ff;
}

.photo-content p {
    padding: 10px;
}

.photo-content h3 {
    text-align: center;
    padding-top: 5px;
}

.photo-content img {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
}

/* End Container 2 */

.container-3 {
    border-top: 1px solid gray;
}

.container-3 h2 {
    padding-bottom: 5px;
}

.review-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-bottom: 40px;
    height: 100%;
}

.review-content {
    background-color: #708d81ff;
    width: 25vw;
    min-height: 200px;
    border: 4px solid #708d81ff;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.review-content div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-content .review-border-green,
.review-content .review-border-yellow {
    width: 40%;
}

.review-content p {
    padding: 10px 10px 10px 10px;
}

.review-border-green {
    border-top: 2px solid #708d81ff;
}

.review-border-yellow {
    border-top: 2px solid #f4d58dff;
}

/* End Container 3 */

.container-4 {
    display: flex;
    border-top: 1px solid gray;
}

.linked-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    gap: 8vw;
}

.linked-content a {
    padding: 20px;
}

.contact {
    background-color: #708d81ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    border: 4px solid #f4d58dff;
    border-radius: 10px;
}

.contact-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contact-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-left: 1px solid #f4d58dff;
}

.contact-right-text {
    padding-bottom: 15px;
}

.contact a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #001427ff;
    padding: 8px;
    background-color: #f4d58dff;
    border-radius: 5px;
}

.contact a:hover {
    background-color: #f7dfa9;
    transition: 500ms;
}

.handleiding {
    display: flex;
    border: 4px solid #708d81ff;
    border-radius: 10px;
    width: 40%;
}

.handleiding-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f4d58dff;
    border-radius: 5px;
}

.handleiding-content p {
    padding: 10px;
}

.handleiding-content a {
    background-color: #708d81ff;
    border-radius: 5px;
    text-decoration: none;
    color: #001427ff;
}

.handleiding-content a:hover {
    background-color: #94aaa1;
    transition: 500ms;
}

/* End Container 4 */

footer {
    border-top: 1px solid gray;
    padding-top: 25px;
    background-color: #001427ff;
}

footer a {
    text-decoration: none;
    color: gray;
    border-right: 1px solid gray;
    padding: 20px 20px 20px 20px;
    width: 150px;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.no-border {
    border: none;
}

footer p {
    color: gray;
    line-height: 2rem;
    padding-top: 25px;
    padding-bottom: 20px;
}